@import"./utils/utils";
@import"./layout/modal";
@import"./themes/white";
@import"./layout/dark-light-btn";
@import"./layout/button-glitch";

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100%;
  background-color: $bg-primary;
  color: $primary-color;
  font-family: "Work Sans","Helvetica","Arial",sans-serif;
  h1{
    font-size: 2em;
    color: $third-color;
    font-weight: bold;
    @include mobile-only {
      font-size: 1.5em;
    }
  }
  h2 {
    color: $third-color;
    font-size: 1.2em;
    @include mobile-only {
      font-size: 1em;
    }
  }
}

main {
  width: 100%;
  padding: 5em 0em 4em 0em;
  background: url("../pictures/main-bg.jpg");
  @include bottom_margin_main_elmt;
}


header {
  background-color: $bg-secondary;
  box-shadow: 0px 9px 15px -2px rgba(0,0,0,0.64);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}

.container {
  @include width-page;
  @include padding_top_bottom_elmt(1em);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include mobile-only {
    width: 100%;
    min-width: auto;
    justify-content:space-around ;
  }
    &__main-logo {
      h2 {
        transform: scale(1.4);  
        color: $fourth-color;
        text-shadow: 1px -1px 2px rgba(128, 0, 0, 1);
        @include mobile-only {
         transform: scale(1.2); 
        }
      }
    }
    &__main-menu ul{
      display: flex;
      list-style-type: none;
    }
    &__main-menu li{
      margin-left: 2em;
      @include mobile-only {
        margin-left: 0em;
        padding-left: 1em;
      }
    }
    &__main-menu a{
      text-decoration: none;
    }
}

section, .modal{
  h1 {
    color: $secondary-color;
    @include margin_top_bottom_elmt(1em);
  }
}

section {
  @include width-page;
  @include mobile-only {
    width: 90%;
    min-width: auto;
    margin-left: 0em;
    margin-right: 0em;
  }
  position: relative;
  .btn-scroll {
    position: absolute;
    border: none;
    border-radius: 0.5em;
    color: $secondary-color;
    background-color: #181d22ce;
    z-index: 1;
    padding: 2em 1em;
    cursor: pointer;
    transition: 0.5s;
    &:hover{
      color: $fourth-color;
    }
    &.left {
      transform: scale(1.2);
      top: 50%;
      left: -1.5em;
      @include mobile-only {
        transform: scale(1);
        top: 50%;
        left: -1em;
      }
    }
    &.right {
      transform: scale(1.2);
      right: -1.5em;
      top: 50%;
      @include mobile-only {
        transform: scale(1);
        top: 50%;
        right: -1em;
      }
    }
  }
}

.best-movie {
  margin: auto;
  @include mobile-only {
    width: 90%;
    h1 {
      @include border-left;
    }
  }
  min-height: 20em;
  @include top-margin_main_elmt;
  @include bottom_margin_main_elmt;
    &__infos {
      border: 0.2em solid #083d72;
      box-shadow: 2px 2px 6px #062544;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 3em;
      border-radius: 0.5em;
      @include mobile-only{
        flex-direction: column;
        margin-left: 0em;
        margin-right: 0em;
        padding: 0em;
        border: none;
        box-shadow: none;
      }
      h2 {
        width: 100%;
        font-size: 1.5em;
        margin-bottom: 2em;
        @include border-left;
        @include mobile-only{
          order: 1;
          border-left: none;
        }
      }
      img{
        border-radius: 0.5em;
      }
      article{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex: 1.5;
        text-align: justify;
        @include mobile-only{
          flex: 1;
          width: 95%;
          order: 3;
        }
      }
      aside {
        flex: 1;
        text-align: right;
        @include mobile-only{
          @include margin_top_bottom_elmt(1em);
          text-align: center;
          order: 2;
        }
      }
    }
    &__btn{
      display: flex;
      background-color: $fourth-color;
      padding: 0.5em;
      border: $fourth-color 0.1em solid;
      border-radius: 0.9em ;
      @include mobile-only{
        margin-top: 1em;
        text-align: left;
        transform: scale(0.8);
      }
      span {
        display: inline-block;
        margin-left: 0.3em;
        color: $primary-color;
        font-size: 1.1em;
      }
      &:hover{
        background-color: $bg-third;
        color: $third-color;
        border: $third-color 0.1em solid;
        transition: 0.5s all ease-out;
      }
    }
}

.best-movies-caroussel, .animation-caroussel, .family-caroussel, .history-caroussel {
  margin: auto;
  @include bottom_margin_main_elmt;

  h1 {
    @include border-left;
  }
  ul {
    overflow: hidden;
    display: flex;
    left: 0;
    list-style-type: none;
    padding: 1em 0em;
    transition: 0.5s all ease-out;
    scroll-behavior: smooth;
  }
  li {
    padding-left: 0.5em;
  }
  img{
    border-radius: 1em;
    transition: 0.5s all ease-out;
    &:hover{
      transform: scale(1.05);
      cursor: pointer;
    }
  }
}